---
---

body { 
	background: #000;
	color: #8c8673;
}

.home {
	
}

.container-lg {
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	padding: 10px 5px;

	color: #8c8673;
	opacity: .8;

	h1 {
		padding: .64rem;

		font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
		text-transform: uppercase;
		font-size: 2.44rem;
		line-height: 1.4;

		color: var(--base);
		background: var(--highlight);

		border: 6px double white;

		font-family: vcr;
		font-weight: normal;

		a {
      text-decoration: none;
			color: deeppink;
		}
	}

  .logo {

  }
  .header-text {

	}
}

.index {
  .post {
    .post-info {

    }
    .post-title {

    }
    .tags {

    }
    .body {

    }
    .right {
      
    }
    .left {

    }
    .margin {

    }
  }
  a {}
  p {}
  img {}
}